<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/main.html">>

    <div class="container" layout:fragment="addItemFragment">
        <form th:action="@{'/item/add-country'}" method="post">
            <div class="row mt-3">
                <div class="col-12">
                    <label>COUNTRY NAME : </label>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <select class="form-select" name="name_country">
                        <option>USA</option>
                        <option>South Korea</option>
                        <option>China</option>
                        <option>Finland</option>
                        <option>Japan</option>
                        <option>Germany</option>
                    </select>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <button class="btn btn-success">ADD COUNTRY</button>
                </div>
            </div>
        </form>
    </div>

</html>